body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  margin: 2%;
}
.container-head {
  /* background: white; */
  padding: 20px;
  /* border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
  /* max-width: 800px; */
  /* border: 2px solid #ccc; */
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 800px; */
  border: 2px solid #ccc;
}
h2 {
  text-align: center;
  color: #333;
}
.form-row {
  display: flex;
  gap: 10px;
}
.form-element {
  width: 30%;
  margin: 0% 1.5%;
}
.form-row div {
  flex: 1;
}
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
select {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}
button:hover {
  background: #218838;
}